@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navy: #2a2d36;
    --navyblur: #2a2d36c7;
    --okker: #dcad4d;
    --okkerdark:#ffbb34;
    --grey: #dadada;
    --alert: #c4281a;
    --lightnavy: #3a3f47;
    --lightnavyborder: #525c6b;
}

.font-bebas {
    font-family: var(--font-bebas)!important;
}

.font-inter {
    font-family: var(--font-inter)!important;
}

.font-playball {
    font-family: var(--font-playball)!important;
}

body {
    font-family: var(--font-inter);
}

h1 {
    font-size: 3em;
    font-family: var(--font-playball);
    color: var(--okker);
}

h2 {
    font-size: 2.5em;
    font-family: var(--font-playball);
    color: var(--okker);
}

li {
    font-size: 1.5em;
    font-family: var(--font-bebas);
    letter-spacing: .125rem;
}

menu.li {
    font-size: 1.5em;
    font-family: var(--font-bebas);
    letter-spacing: 1.125rem;
}

.opening {
    font-size: 1.5em;
    font-family: var(--font-bebas);
    letter-spacing: .125rem;
    color: var(--okker);
}

.open {
    font-family: var(--font-bebas);
    letter-spacing: .125rem;
    color: #09ff00;
    text-shadow: 0px 0px 10px #09ff00;
}

.close {
    font-family: var(--font-bebas);
    letter-spacing: .125rem;
    color: #ff0000;
    text-shadow: 0px 0px 10px #ff0000;
}

.price {
    font-size: 1.5em;
    font-family: var(--font-inter);
    font-weight: 700;
    color: var(--navy);
    padding: .25em .5em .25em .5em;
    background: var(--okker);
}

.smallprice {
    font-size: 1em;
    font-family: var(--font-inter);
    font-weight: 700;
    color: var(--navy);
    padding: .25em .5em .25em .5em;
    background: var(--okker);
}

.day {
    font-family: var(--font-playball);
    font-size: 1.5em;
    color: var(--okker);
}

.categorynames {
    font-size: .75em;
    font-family: var(--font-bebas);
    letter-spacing: .125rem;
}

@media only screen and (max-width: 600px) {
    .categorytitle {
        font-size: 1.3em;
        line-height: 1em;
        font-family: var(--font-bebas);
        letter-spacing: .1rem;
        opacity: 50%;
        color: var(--navy);
    }
    
}

@media only screen and (min-width: 600px) {
    .categorytitle {
        font-size: 2em;
        font-family: var(--font-bebas);
        letter-spacing: 1.5rem;
        opacity: 25%;
        color: var(--navy);
    }
    
}



.smartprice {
    font-family: var(--font-inter);
    font-size: 1.125em;
    color: var(--navy);
    letter-spacing: .125rem;
}

p {
    font-family: var(--font-inter);
    font-size: 1.125em;
    letter-spacing: .125rem;
}

.widecontainer {
    margin: auto;
}

.footertitle {
    font-size: 1.5em;
    font-family: var(--font-bebas);
    letter-spacing: .125rem;
    color: var(--grey)
}

.footerparagraph {
    font-size: .75em;
    font-family: var(--font-inter);
    letter-spacing: .125rem;
    color: var(--grey)
}


.transparent-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 6px 6px 3px 6px;
    border: 1px solid var(--navy);
    font-size: 16px;
    letter-spacing: .125rem;
    transition: 0.2s ease-in-out;
    font-family: var(--font-bebas);
}

.transparent-btn:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px 6px 3px 6px;
    border: 1px solid var(--navy);
    font-size: 16px;
    letter-spacing: .125rem;
    transition: 0.2s ease-in-out;
    font-family: var(--font-bebas);
    color: var(--grey);
    background-color: var(--navy);
    transition: .2 ease-in-out;
}


@media only screen and (max-width: 600px){
    .transparent-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 3px 5px 1px 5%;
        border: 1px solid var(--navy);
        font-size: 14px;
        letter-spacing: .125rem;
        transition: 0.2s ease-in-out;
    }
}


  /* CSS for mobile menu */
  .menu-mobile {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-mobile.active {
    transform: translateX(0);
  }
