@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: var(--font-inter);
}

h1 {
    font-size: 3em;
    font-family: var(--font-playball);
    color: #dcad4d;
}

.widecontainer {
    margin: auto;
}
